.bio {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  position: static;
  top: 0;

  flex-direction: column;
  gap: 1.25rem;

  padding: 2rem;
}

.tech-hobbies {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

@media (min-width: 768px) {
  .bio {
    height: 100vh;
    margin: 0;
    position: sticky;
    top: 0;
  }

  .tech-hobbies {
    justify-content: start;
  }
}