// $dark-primary: rgb(13, 13, 13);
$dark-primary: #111;

$dark-secondary: #232323;
$dark-secondary: #303030;

$text-colour-base: white;
$text-colour-pop: #0aff9d;

// $card-bg: hsla(0, 0%, 9%, 0.5);
$card-bg: hsla(0, 0%, 12.5%, 0.5);