@import '../../styles/colours';

.card {
  margin: 2rem 0;
  padding: 2rem;

  background-color: $card-bg;
  border-radius: 1rem;
}

.card-chips {
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
}