section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.titleSection {
  width: 100%;
  height: 100vh;
  background-color: rgb(255, 179, 179);
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
}

.contentSections {

}

.contentSection {
  width: 100%;
  height: 100vh;
  background-color: rgb(218, 148, 148);
  margin: 2px;
}