@import 'styles/colours';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'GothicA1';
  src: local('GothicA1'), url('./fonts/GothicA1-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FiraCode';
  src: local('FiraCode'), url('./fonts/FiraCode-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url('./fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 
    // 'FiraCode', 
    // 'GothicA1', 
    'Poppins',
    sans-serif;
  color: $text-colour-base;
  letter-spacing: 0.2px;
}

p {
  line-height: 1.75rem;
  font-weight: 300;
  margin: 0.5rem 0;

  font-size: clamp(1rem, 2vw, 1.15rem); 
}

h1, h2, h3, h4, h5, h6 {
  line-height: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

h1 {
  font-size: clamp(2rem, 6vw, 4rem); 
  line-height: 0.75;
}

h2 {
  font-size: clamp(1.25rem, 5vw, 1.8rem);
}

h3 {
  font-size: clamp(1rem, 3vw, 1.25rem); 
}

.color-pop {
  color: $text-colour-pop;
}

.size-pop {
  font-size: clamp(5rem, 6vw, 8rem); 
}

.svg-icon {
  fill: $text-colour-pop;
}