@import 'styles/colours';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'GothicA1';
  src: local('GothicA1'), url('./fonts/GothicA1-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FiraCode';
  src: local('FiraCode'), url('./fonts/FiraCode-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url('./fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 
    // 'FiraCode', 
    // 'GothicA1', 
    'Poppins',
    sans-serif;
  color: $text-colour-base;
  letter-spacing: 0.25px;
}

p {
  line-height: 1.75rem;
  font-weight: 300;
  font-size: 1.1rem;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

.color-pop {
  color: $text-colour-pop;
}

.size-pop {
  font-size: 8rem;
}

.svg-icon {
  fill: $text-colour-pop;
}